*,
*::before,
*::after {
    box-sizing: border-box;
}

html,body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    position:relative;
    background-color: #dfd4a7;
    justify-content: center;
    align-items: center;
}

.score-area{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    min-height: 100wh;
    overflow: hidden;
    display:block;
    position:relative;
    padding-bottom: 100px;
}

.score-area-game{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    min-height: 100wh;
    overflow: hidden;
    display:block;
    position:relative;
    padding-bottom: 100px;
}
#after-submit {
    visibility: hidden;
}


.main {
    justify-content: center;
    /*display: flex;*/
}
.quiz {
    justify-content: center;
    display: flex;
}

.title-text{
    font-size: 25px;
    margin-top: 15px;
}

footer {
    position: absolute;
    bottom:0;
    width:100%;
}

/* ########### Media Query ############ */