html,body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    position:relative;
}

.riddle-container{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    min-height: 100wh;
    overflow: hidden;
    display:block;
    position:relative;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom:0;
    width:100%;
}

